.env
spotstream-env/
airflow/logs/
airflow/airflow.db

# Docker/Kafka/Cassandra/Postgres data
kafka_data/
kraft-data/
cassandra-data/
postgres-data/

## Python
.vscode
__pycache__
.idea/
.pytest_cache/
*.pyc
*.sqlite
.coverage

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

*.log
*.tmp
.cache/

# OS-specific
.DS_Store
Thumbs.db